@inherits SplideComponentBase

<section @ref="Element" id="@GetId()" class="splide" style="@Style" @attributes="Attributes">
    <div class="splide__track">
        <ul class="splide__list">
            @ChildContent
        </ul>
    </div>
</section>