@inherits SplideComponentBase

<section @ref="Element" style="@Style" @attributes="Attributes" class="splide @GetCssClass()" id="@GetId()">
    <div class="splide__track">
        <ul class="splide__list">
            @ChildContent
        </ul>
    </div>
</section>